<%- include("../views/layout.ejs") %>
<h1><%= title %></h1>
<ul>
  <% author_list.forEach(author => { %>
   <li>
     <a href="<%= author.url %>"><%= author.name %></a>
     <%= author.dob_formatted %> - <%= author.dod_formatted %>
   </li>
  <% }) %>
</ul>