<%- include("../views/layout.ejs") %>
<h1><%= title %></h1>

<form action="" method="post">
  <div class="form-group">
    <label for="title">Title:</label>
    <input
      type="text"
      id="title"
      class="form-control"
      placeholder="Name of book"
      name="title"
      required="true"
      value="<%= locals.book === undefined ? '' : book.title %>"
    />
  </div>
  <div class="form-group">
    <label for="author">Author:</label>
    <select
      name="author"
      id="author"
      class="form-control"
      placeholder="Select author"
      required="true"
    >
      <% locals.authors.sort(function(a,b) {let textA =
      a.family_name.toUpperCase(); let textB = b.family_name.toUpperCase();
      return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}) %> 
      <% locals.authors.forEach(author => { %> 
      <% if (locals.book) { %>
      <option
        value="<%= author._id %>"
        selected="<% (author._id.toString() === book.author._id || author._id.toString() === book.author) ? 'selected' : false %>"
      >
        <%= author.name %>
      </option>
      <% } else {%>
      <option value="<%= author._id %>"><%= author.name %></option>
      <% } %> <% }) %>
    </select>
  </div>
  <div class="form-group">
    <label for="summary">Summary:</label>
    <textarea
      name="summary"
      cols="30"
      rows="10"
      class="form-control"
      placeholder="Summary"
      required="true"
    >
<%= locals.book === undefined ? '' : book.summary %></textarea
    >
  </div>
  <div class="form-group">
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" class="form-control" name="isbn" placeholder="ISBN13" value="<%= locals.book === undefined ? '' : book.isbn %>">
  </div>
  <div class="form-group">
    <label>Genre:</label>
    <div>
      <% locals.genres.forEach(genre => { %>
       <div style="display: inline; padding-right:10px">
      <input type="checkbox" class="checkbox-input" name="genre" id="<%= genre._id %>" value="<%= genre._id%>" checked="<%= genre.checked %>"></div>
      <label for="<%= genre._id %>"><%= genre.name %></label>
      <% }) %>
    </div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
<% if (locals.errors) { %>
  <ul>
    <% locals.errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>