<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("../views/layout.ejs") %>
    <h1><%= title %></h1>
    <p>Welcome to <strong>Local Library</strong></p>
    <h1>Dynamic Content</h1>
    <% if (error) { %>
    <p>Error getting content</p>
    <% } else { %>
    <p>The library has the following record counts:</p>
    <ul>
      <li>Books: <%= data.book_count %></li>
      <li>Copies: <%= data.book_instance_count %></li>
      <li>Copies available: <%= data.book_instance_available_count %></li>
      <li>Authors: <%= data.author_count %></li>
      <li>Genres: <%= data.genre_count %></li>
    </ul>
    <% } %>
  </body>
</html>
